# Item fields
public-f net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP
public-f net.minecraft.item.HoeItem field_195973_b # HOE_LOOKUP

# Block fields
public net.minecraft.block.FireBlock func_180686_a(Lnet/minecraft/block/Block;II)V # setFireInfo

# Container fields
protected-f net.minecraft.inventory.container.WorkbenchContainer field_217070_e # worldPosCallable